.header {
    color: white;
    font-style: "Roboto Bold";
    font-size: xx-large;
    font-weight: 900;
    display: inline-block;
    padding: 2rem 0;
    span {
        vertical-align: bottom;
    }
}
